@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

/*Variables*/
/*Button*/
.btns .btn {
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 3px;
  color: #Fff;
}
.btns .Primary {
  background-color: skyblue;
}
.btns .Secondary {
  background-color: yellow;
}
.btns .Warning {
  background-color: red;
}